body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
    padding-top: 60px;
    height: auto;
    overflow: visible;
}

:root {
    --background-color: #ffffff;
    --text-color: #333;
    --card-background: #fff;
    --card-hover: #f0f0f0;
    --icon-color: #333;
    --navbar-bg-color: rgba(255, 255, 255, 0.9);
    --navbar-text-color: #333;
}

.dark-mode {
    --background-color: #333;
    --text-color: #f0f0f0;
    --card-background: #444;
    --card-hover: #555;
    --icon-color: #f0f0f0;
    --navbar-bg-color: #444;
    --navbar-text-color: #f0f0f0;
}

nav#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#home-link {
    font-size: 1.2em;
    color: var(--navbar-text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 0 20px;
}

#home-link:hover {
    color: crimson;
}

#toggle-dark-mode {
    font-size: 30px;
    cursor: pointer;
    color: var(--navbar-text-color);
    margin-left: 20px;
    padding: 0 20px;
    margin-top: 15px;
}


#toggle-dark-mode:hover {
    transform: rotate(20deg);
}

main#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    padding-top: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.project-card {
    width: 400px;
    min-height: 250px;
    max-height: 350px;
    background-color: var(--card-background);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow: hidden;
}

.project-card:hover {
    background-color: var(--card-hover);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.project-card h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.project-card p {
    flex-grow: 1;
}

.project-card .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.project-card .btn:hover {
    background-color: crimson;
    transform: scale(1.1);
}

footer {
    position: fixed;
    bottom: 20px;
    font-size: 14px;
    color: var(--text-color);
    width: 100%;
    text-align: center;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
